@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
}
